<div>
  <p>
  <h4>Seleccione La capa a intersectar</h4>
  <select id="select-Capa" class="all-width"></select>
  <p>
  <div>
    <h4 id="Tipo_de_Amenaza">Seleccione el tipo de Amenaza</h4>
    <select id="select-Amenaza" class="all-width"></select>
  </div>
  </p>
  <h4>Seleccione el radio de influencia en (metros)</h4>
  <select id="select-radio-influencia" class="all-width"></select>
  </p>
  <h4>Campo a evaluar</h4>
  <select id="select-campo" class="all-width"></select>
  <h4>Tipo de consulta</h4>
  <select id="select-tipo-consulta" class="all-width"></select>
  <h4>Valor</h4>
  <input id="select-tipo-pert" class="all-width"></select>


  <p>

  <h4 id="Codigo_predio">Código del predio</h4>
  <label id="lbl-predio-selected" class="all-width">Clic en el mapa sobre la perturbación</label>
  </p>

  <br>

  <button id="btn-asignacion" disabled>Asignar</button>

  </p>

  <br>
  <div>
    <p>
      <button id="btn-asignacion-Prediosaptos">Limpiar mapa</button>
      <br>
    </p>

    <p>

      <h4 id="Codigo_predio">Cantidad de Predios Afectados</h4>
      <label id="lbl-CantidadPredios" class="all-width"></label>
      </p>
  </div>
</div>